<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:replace="block/fragments.html :: bootstrap-css"/>
    <th:block th:replace="block/fragments.html :: fragments-css"/>
    <th:block th:replace="block/fragments.html :: dc-title"/>
</head>

<body>

<th:block th:replace="block/fragments.html :: bootstrap-js"/>
<th:block th:replace="block/fragments.html :: dc-header"/>

<form action="/addWord" class="save-word-form" th:action="@{/addWord}" th:object="${wordEntity}" method="POST">
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="nativeWord" th:text="'Native word'"></span>
        <input oninput="this.value=this.value.toLowerCase()" type="text" class="form-control"
               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="*{nativeWord}">
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="translatedWord" th:text="'Translated word'"></span>
        <input oninput="this.value=this.value.toLowerCase()" type="text" class="form-control"
               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="*{translatedWord}">
    </div>
    <button class="btn btn-primary" type="submit" th:text="'Save'"></button>

    <p style="color: red" th:each="validateError : ${#fields.allErrors()}" th:text="${validateError}"></p>
    <th:block th:replace="block/fragments.html :: dc-result"/>
</form>

<th:block th:replace="block/fragments.html :: dc-footer"/>

</body>

</html>