<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:replace="block/fragments.html :: bootstrap-css"/>
    <th:block th:replace="block/fragments.html :: fragments-css"/>
    <th:block th:replace="block/fragments.html :: dc-title"/>
</head>

<body>

<th:block th:replace="block/fragments.html :: bootstrap-js"/>
<th:block th:replace="block/fragments.html :: dc-header"/>

<div class="dc-all-words-container">
    <div class="card border-primary mb-3" th:each="word : ${page.content}">
        <div class="card-header" th:text="${word.nativeWord}"></div>
        <div class="card-body text-primary">
            <h5 class="card-title" th:text="${word.translatedWord}"></h5>
        </div>
    </div>
</div>

<th:block th:replace="block/fragments.html :: dc-footer"/>

</body>

</html>