<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:replace="block/fragments.html :: bootstrap-css"/>
    <th:block th:replace="block/fragments.html :: fragments-css"/>
    <th:block th:replace="block/fragments.html :: dc-title"/>
</head>

<body>

<th:block th:replace="block/fragments.html :: bootstrap-js"/>
<th:block th:replace="block/fragments.html :: dc-header"/>

<form class="dc-test-form" th:action="@{/testWords}" th:object="${testWordsForm}" method="POST">
    <div class="dc-test-block">
        <div class="card dc-test-card" th:each="item : ${testWordsForm.wordMap.values()}">
            <h4 th:text="${item.word.nativeWord}"></h4>
            <div class="form-check" th:each="variant : ${item.responseVariantList}">
                <input class="form-check-input" type="radio" th:value="${variant}"
                       th:field="*{wordMap[__${item.word.id}__].result}">
                <label class="form-check-label" th:text="${variant}"
                       th:for="${#ids.prev('wordMap__${item.word.id}__.result')}"></label>
            </div>
            <p class="dc-error" th:if="${item.isCorrect != null && !item.isCorrect}" th:text="'Error'"></p>
            <p class="dc-success" th:if="${item.isCorrect != null && item.isCorrect}" th:text="'Success'"></p>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" th:text="'Check'"></button>
</form>

<form class="dc-test-refresh" th:action="@{/testWords}" method="GET">
    <button class="btn btn-primary" type="submit" th:text="'Refresh words'"></button>
</form>

<th:block th:replace="block/fragments.html :: dc-footer"/>

</body>

</html>