<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragments-css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</div>

<div th:fragment="bootstrap-css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</div>

<div th:fragment="bootstrap-js">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</div>

<title th:fragment="dc-title" th:text="${title} ?: 'Dictionary title page'"></title>

<div th:fragment="dc-header">
    <div class="header_button_block">
        <a href="#" th:href="@{/allWords}" th:text="'All words'" class="badge rounded-pill bg-success link"></a>
        <a href="google.com" th:text="'Test'" class="badge rounded-pill bg-success link"></a>
        <a href="#" th:href="@{/addWord}" th:text="'Add word'" class="badge rounded-pill bg-success link"></a>
        <a href="google.com" th:text="'Translate'" class="badge rounded-pill bg-success link"></a>
    </div>
</div>

<dic th:fragment="dc-result">
    <p style="color: red" th:if="${error != null}" th:text="${error}"></p>
    <p style="color: green" th:if="${success != null}" th:text="${success}"></p>
</dic>

<footer th:fragment="dc-footer">
    <th:block th:replace="block/fragments.html :: dc-pagination"/>
    <th:block th:replace="block/fragments.html :: dc-footer-info"/>
</footer>

<div th:fragment="dc-pagination" th:if="${page != null}" class="dc-pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination dc-pagination-item">
            <li class="page-item" th:class="'page-item' + ${page.hasPrevious() ? '' : ' disabled'}">
                <a class="page-link" href="#" th:text="'Previous'" th:href="${'./' + (page.number - 1)}"></a>
            </li>
        </ul>
    </nav>

    <nav aria-label="Page navigation example">
        <ul th:with="leftPage=${page.number - 5 < 0 ? 0 : page.number - 5},
                         rightPage=${page.totalPages - 1 > page.number + 5 ? page.number + 5 : page.totalPages - 1}"
            class="pagination dc-pagination-item">
            <li th:if="${leftPage > 0}" class="page-item">
                <a class="page-link" th:text="'1'" th:href="${'./' + '1'}" href="#"></a>
            </li>
            <li th:if="${leftPage > 1}" class="page-item disabled">
                <a class="page-link" th:text="'...'" href="#"></a>
            </li>
            <li th:each="i : ${#numbers.sequence(leftPage, rightPage)}"
                th:class="${i == page.number ? 'page-item active' : 'page-item'}" class="page-item">
                <a class="page-link" th:text="${i + 1}" th:href="${'./' + i}" href="#"></a>
            </li>
            <li th:if="${rightPage < (page.totalPages - 3)}" class="page-item disabled">
                <a class="page-link" th:text="'...'" href="#"></a>
            </li>
            <li th:if="${rightPage < (page.totalPages - 2)}" class="page-item">
                <a class="page-link" th:text="${page.totalPages - 1}" th:href="${'./' + (page.totalPages - 1)}"
                   href="#"></a>
            </li>
        </ul>
    </nav>

    <nav aria-label="Page navigation example">
        <ul class="pagination dc-pagination-item">
            <li class="page-item" th:class="'page-item' + ${page.hasNext() ? '' : ' disabled'}">
                <a class="page-link" href="#" th:text="'Next'" th:href="${'./' + (page.number + 1)}"></a>
            </li>
        </ul>
    </nav>
</div>

<div th:fragment="dc-footer-info" class="dc-footer-info-container">
    <div class="dc-footer-info" th:text="'The Dictionary Application for home using. xaero dev 2022.'"></div>
    <div class="dc-footer-shutdown">
        <a href="#" th:href="@{/shutdown}" class="badge rounded-pill bg-success link" th:text="'Shutdown'"></a>
    </div>
</div>

</html>